{% extends "User/base.html" %}
{% block content %}
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
        {% load static %}

    <link rel="stylesheet" href="{% static 'style/joblist.css'%}" />
        <link rel="stylesheet" href="{% static 'style/button.css'%}" />

    <title>User</title>
</head>
<body>
{%if header == 'job'%}
<h1> Job Code Management </h1>
{%endif%}

{%if header == 'machine'%}
<h1> Machine Management </h1>
{%endif%}

{%if header == 'timecard'%}
<h1> Timecard Management </h1>
{%endif%}
<table class="table table-sm table-bordered table-dark">



    {%if header == 'timecard'%}
    {%include 'user/timecardheader.html'%}
    {%endif%}
  <tbody>
  {% for item in Datadict %}
  <tr>
      {% for field,value in item.fields.items %}


        {%if value != 'Review'%}
        <td>{{value}}</td>
        {%else%}
        <td>Open</td>
        {%endif%}


      {%endfor %}
      <style type="text/css">
        td a { display: block; width: 100%; height: 100%; }
        </style>




  </tr>
  {%endfor%}

  </tbody>
</table>

{%if header == 'timecard'%}
<a href="{%url 'User:usercreatetimecard'%}" class="btn-gradient blue small">Add New</a>
{%endif%}



<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>

{% endblock %}
